extends base
include mixins/mVideo

block content
   
    form(method="GET").search__form
        input(type="text", name="keyword",placeholder="search by title")
        button
            i.fas.fa-search
  
    div.video-grid
        each video in videos 
            +mVideo(video)
        else
            span.empty__message No videos found
