extends ../base 

block content 
    if errorMessage
        h5=errorMessage
    form(method='POST')
        input(type="password", name="oldPassword" placeholder="old password",required=true)
        input(type="password", name="newPassword" placeholder="new password",required=true)
        input(type="password", name="confirmPassword" placeholder="confirm Password",required=true)
        input(type="submit", value="Change Password")