extends ../base 
include ../mixins/mVideo

block content 
    div.profile__data
        img(src=`/${user.avatarUrl}`, width="200", height="200", alt="avatar image")
        h3 #{user.name}
        small #{user.email}
       
    div.video-grid
        each video in user.videos
            +mVideo(video)
        else
            span.empty__message No videos found 